include README.md
recursive-include octoprint_TwitchTerminalCommands/templates *
recursive-include octoprint_TwitchTerminalCommands/translations *
recursive-include octoprint_TwitchTerminalCommands/static *
